<!DOCTYPE html>

<html>

{{template "header" .}}

<body>
  <div class="container">
    {{template "navbar" .}}
    <h1>文章列表</h1>
    <a href="/topic/add" class="btn btn-default">添加文章</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>文章名称</th>
          <th>最后更新</th>
          <th>浏览数</th>
          <th>回复数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{range .Topics}}
        <tr>
          <th>{{.ID}}</th>
          <th><a href="/topic/view/{{.ID}}">{{.Title}}</a></th>
          <th>{{.Updated}}</th>
          <th>{{.Views}}</th>
          <th>{{.ReplyCount}}</th>
          <th>
            <a href="/topic/modify?id={{.ID}}">修改</a>
            <a href="/topic/delete?id={{.ID}}">删除</a>
          </th>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <!-- 包括所有已编译的插件 -->
  <!-- <script src="/static/js/bootstrap.min.js"></script> -->
  <script text="text/javascript">
    function checkInput() {
      // let userName = document.getElementById("userName").value;
      let categoryName = category.categoryName.value;
      if (categoryName.length == 0) {
        alert("请输入分类名称");
        return false;
      }
      return true;
    }

    function backToHome() {
      window.location.href = "/";
      return false;
    }
  </script>
</body>

</html>