[[source]]
name = "pypi"
# url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
three = "*"
sqlalchemy = "*"
marshmallow = "*"
cython = "*"
pymssql = {path = "./pymssql-2.1.4-cp38-cp38-win_amd64.whl"}

[requires]
python_version = "3.8"
